body{
    background-color: rgb(14, 14, 14);
}

@font-face {
    font-family: clock;
    src: url(../font/DS-DIGI.TTF);
}

.every{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#clock{
    color: rgb(255, 0, 0);
    font-family: clock;
    font-size: 90px;
    background-color: rgb(32, 32, 32);
    text-align: center;
    width: 400px;
    border-radius: 20px;
    
}
a{
    color: aliceblue;
}